.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 5rem;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.hero-img {
    height: 100vh;
    max-width: 100% !important;
    background: url(/static/images/hero.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 1000px;
    width: 100% !important;
}

.opaque-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    left: 0;
    right: 0;
    bottom: auto;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.hero-content {
    margin-top: 25rem;
    color: white;
    word-spacing: 5px;
 
   line-height: 1rem;
}

.recipe-description{
    padding-top: 5rem;
}

.upvotes {
    padding-top: 5rem;
    padding: 1rem;
}

.paragraph-details {
    padding-top: 2rem;
}

.branding-logo {
    padding-left: 2rem;
}
