{% extends "base.html" %}
{% block content %}

<h3 class="light-green-text text-darken-4 center-align">Add Recipe</h3>

<div class="row">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-scroll prefix light-green-text text-darken-4"></i>
                <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-bowl-food prefix light-green-text text-darken-4"></i>
                <select>
                    <option value="" disabled selected>Choose your Cuisine</option>
                    <option value="1">American</option>
                    <option value="2">Chinese</option>
                    <option value="2">Mexican</option>
                    <option value="3">Indian</option>
                    <option value="3">Spanish</option>
                </select>
                <label>Materialize Select</label>
            </div>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-list-check prefix light-green-text text-darken-4"></i>
                        <textarea id="recipe_description" name="recipe_description" minlength="5" maxlength="500"
                            class="materialize-textarea"></textarea>
                        <label for="recipe_description">Recipe Instructions</label>
                    </div>
                </div>
            </form>
        </div>
    </form>
</div>

{% endblock %}