{% extends "base.html" %}
{% block content %}

<h3 class="light-green-text text-darken-4 center-align">Add Recipe</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-scroll prefix light-green-text text-darken-4"></i>
                <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
       <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-bowl-food prefix light-green-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Select Your Cuisine</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Cuisine</label>
				</div>
			</div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-clock prefix light-green-text text-darken-4"></i>
                <input id="prep_time" name="prep_time" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="prep_time">Preparation Time</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-clock prefix light-green-text text-darken-4"></i>
                <input id="cook_time" name="cook_time" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="cook_time">Cooking Time</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-green-text text-darken-4"></i>
                <textarea name="recipe_description" id="recipe_description" minlength="5" maxlength="500"
                    class="materialize-textarea validate" required></textarea>
                <label for="recipe_description">Recipe Instructions</label>
            </div>
        </div>
    </form>
</div>

{% endblock %}