{% extends 'base.html'%} {% block content %}
<div class="container recipes-padding">
    <!--This page will display all information regarding a recipe-->
    <div>
        <h4>{{recipe.recipe_name}}</h4>
    </div>
    <div class="recipe-author">
        <i>- {{recipe.created_by}} - {{ recipe.prep_time }} prep time </i>-
        <form class="" action="{{ url_for('upvote', recipe_id=recipe._id)}}" method="POST">
            <button class="btn-small light-green" type="submit"><i class="fa-regular fa-heart">
                    Like
                </i></button>
        </form>{{recipe.upvotes}}

    </div>

    <div class="inline-details">
        <div class="col-xs-6 col-md-3 no-side-padding">
            <p>Prep: {{recipe.prep_time}} </p>
        </div>
        <div class="col-xs-6 col-md-3 no-side-padding">
            <p>Cooking: {{recipe.cook_time}} </p>
        </div>
        <div class="col-xs-6 col-md-3 no-side-padding">
            <p>Cuisine: {{recipe.category_name}}</p>
        </div>
        <div>
            <p>Chef: - {{recipe.created_by}}</p>
        </div>
    </div>

    <div class="paragraph-details">

        <h5>Ingredients</h5>
        <p>{{recipe.recipe_ingredients}}</p>

    </div>
    <div class="paragraph-details">
        <h5>Method</h5>
        <p>{{recipe.recipe_description}}</p>

    </div>

    <div class="col s3">
        {% if session.user|lower == recipe.created_by|lower %}
        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small red accent-4">Delete</a>
        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small light-blue accent-4">Edit</a>
        {% endif %}
    </div>

</div>


{% endblock %}